extends adminLayout

block content
  
  .logo
    img(src='../images/LogoGlasses150.png', alt='')
  #nav
    .logged
      p 
      | logged in as 
      span.userName 
    ul
      li
        a(href='/') HOME
      li
        a(href='/admin/addproject') ADD PROJ
      li
        a(href='/admin/add') ADD POST
  #mainWindow
    h2 admin section
