extends layout

block content
  .logo
    img(src='images/LogoGlasses150.png', alt='')
  // end logo
  #nav
    ul
      li
        a(href='/') HOME                
      li
        a(href='/apps') APPS               
      li
        a(href='/services') SERVICES             
      li
        a(href='/contact') CONTACT
      li
        a(href='/posts') BLOG
      li
        a(href='/recentprojects') PROJECTS
      li
        a(href='/users') ADMIN 
  // end nav
  #mainWindow.col-md-12
    #aboutWindow
      div
        h2 about us
      |                     
      .adminSectionText
        p.aboutSectionText
          | Smarty Cat Designs is a dedicated javascript development company. We develop applications for the web , desktop and mobile environments. We have been serving customers since 2013. We also undertake other business needs such as brand designs and static websites.
