extends layout

block content
	.logo
		img(src='images/LogoGlasses150.png', alt='')
	// end logo
	#nav
		.logged
			p 
			| logged in as 
			span.userName 
		ul
			li
				a(href='/') HOME
			li
				a(href='/apps') APPS
			li
				a(href='/services') SERVICES               
			li
				a(href='/about') ABOUT                                       
			li
				a(href='/contact') CONTACT                       
			li
	       a(href='/posts') BLOG
	    li
	       a(href='/recentprojects') PROJECTS
	     li
	       a(href='/users') ADMIN                      
	// end nav
	#mainWindow.col-md-12
		h1=title
		ul.errors
			if errors
				each error, i in errors
					li.alert.alert-danger #{error.msg}
		form(method='post', action='/categories/add')
			.form-group
				label Name:
				input.form-control(name='name', type='text')
			input.btn.btn-default(name='submit',type='submit',value='Save')
