extends textEditorLayout

block content
	.logo
		img(src='/images/LogoGlasses150.png', alt='')
	#nav
		ul
			li
				a(href='/') HOME                  
			li
				a(href='/apps') APPS                 
			li
				a(href='/services') SERVICES                
			li
				a(href='/about') ABOUT
			li
				a(href='/contact') CONTACT
			li
				a(href='/recentprojects') PROJECTS
			li
				a(href='/posts')  BLOG                    
	#mainWindow.col-md-12.addForm
		#previewWindow.col-md-6
			h2 preview                     
		#editorWindow.col-md-6
			div.editorTop
				h2 editor 
				div.row.editorHeader
					form(method='post', action='', enctype="multipart/form-data")
						.editorHeaderLeft.col-md-6
							.form-group
								label Title:
								input.form-control(name='title', type='text', id='title')
							.form-group
								label Category:
								input.form-control(name='category', type='text', id='category')
						.editorHeaderRight.col-md-6
							.form-group
								label Author:
								input.form-control(name='author', type='text', id='author')
							.form-group
								label Tags:
								input.form-control(name='tags', type='text')
						.editorBodyContainer.row
							.editorBody.col-md-12
								.form-group
									textarea.form-control.textArea(name='body', id='editorBody')
						div.row.editorFooter
							div.col-md-6.editorFooterLeft
								.form-group
									button.btn.myBtn(type='button' id='previewBtn') PREVIEW
									button.btn.myBtn(type='submit') PUBLISH
							div.col-md-6.editorFooterRight
								.form-group
									input.form-control.fileInput.btn.myBtn(name='mainimage', type='file')
									a.btn.myBtn(type='button' id='actionBtn' href='/texteditor/action') ACTION
