extends layout

block content
	.logo
		img(src='/images/LogoGlasses150.png', alt='')
	// end logo
	#nav
		.logged
			p 
			| logged in as 
			span.userName 
		ul
			li
				a(href='/apps') APPS
				|                       
				img(src='/images/apps.png', alt='')
			|                   
			li
				a(href='/services') SERVICES
				|                       
				img(src='/images/services.png', alt='')
			|                   
			li
				a(href='/about') ABOUT
				|                       
				img(src='/images/about.png', alt='')
			|                   
			li
				a(href='/contact') CONTACT
				|                       
				img(src='/images/contact.png', alt='')
			|
			li
				a(href='/users/login') LOGIN
				|                       
	// end nav
	#mainWindow.col-md-12.addForm
		h1=title
		ul.errors
			if errors
				each error, i in errors
					li.alert.alert-danger #{error.msg}
		.addFormWrapper
			form(method='post', action='/posts/add', enctype="multipart/form-data")
				.form-group
					label Title:
					input.form-control(name='title', type='text')
				.form-group
					label Category
					select.form-control(name='category')
						each category, i in categories
							option(value='#{category.name}') #{category.name}
				.form-group
					label Body
					textarea.form-control(name='body', id='body')
				.form-group
					label Main Image:
					input.form-control(name='mainimage', type='file')
				.form-group
					label Author:
					select.form-control(name='author')
						option(value='Travis Elling') Travis Elling
						option(value='John Doe') John Doe
				input.btn.btn-default(name='submit',type='submit',value='Save')
				script(src='/ckeditor/ckeditor.js')
				script
					| CKEDITOR.replace('body');
		
