extends layout

block content
  .logo
    img(src='images/LogoGlasses150.png', alt='')
  // end logo
  #nav
    ul
      li
        a(href='/') HOME
        |                       
        img(src='images/home.png', alt='')
      |                   
      li
        a(href='/apps') APPS
        |                       
        img(src='images/apps.png', alt='')
      |                   
      li
        a(href='/services') SERVICES
        |                       
        img(src='images/services.png', alt='')
      |                   
      li
        a(href='/about') ABOUT
        |                       
        img(src='images/about.png', alt='')
      li
        a(href='/posts') BLOG
      li
        a(href='/recentprojects') PROJECTS
      li
        a(href='users/login') LOGIN  
  // end nav
  #mainWindow.col-md-12
    #contactWindow
      h2 HOW MAY WE HELP YOU?
      |                         
      .formWrapper.row
        .col-md-6
          form(action='/contact', method='POST', role='form')
            .form-group
              label(for='name') Name / Company
              |                                         
              input.form-control(type='text', id='name', name='name', placeholder='')
              |                                         
              label(for='from') Email
              |                                         
              input.form-control(type='email', id='from', name='from', placeholder='')
              |                                         
              label(for='body') Message
              |                                         
              textarea#textArea(data-pg-name='body', name='body', style='width: 100%' )
            |                                     
            button.btn.btn-lg.myBtn(type='submit') submit
            |
        // end div col-md-6
        .col-md-6.contactMethodWrapper
          .contactMethod
            img(src='images/services.png')
            .contactMethodText Chat with us here
          |                                 
          .contactMethod
            img(src='images/github.png')
            .contactMethodText Check out our GitHub
          |                                 
          .contactMethod
            img(src='images/linkedin.png')
            .contactMethodText Connect with us on LinkedIn
          |                                 
          .contactMethod
            img(src='images/twitter.png')
            .contactMethodText Send us a tweet on Twitter
          |                                 
          .contactMethod
            img(src='images/facebook-logo.png')
            .contactMethodText Follow us on Facebook    
    
