extends layout

block content
  .logo
    img(src='images/LogoGlasses150.png', alt='')
  // end logo
  #nav
    ul
      li
        a(href='/apps') APPS
        |                       
        img(src='images/apps.png', alt='')
      |                   
      li
        a(href='/services') SERVICES
        |                       
        img(src='images/services.png', alt='')
      |                   
      li
        a(href='/about') ABOUT
        |                       
        img(src='images/about.png', alt='')
      |                   
      li
        a(href='/contact') CONTACT
        |                       
        img(src='images/contact.png', alt='')
      |
      li
        a(href='/posts') BLOG
      li
        a(href='/recentprojects') PROJECTS
      li
        a(href='#' data-toggle='modal', data-target='#myModal') LOGIN 
      li
        a(href='/users') ADMIN                  
  // end nav
  #mainWindow.col-md-12
    .mainTextBlock
      h1.welcome Welcome To
      |                     
      p
        span.smarty smarty
        span.subTitle cat designs
      |                     
      p.info JAVASCRIPT DEVELOPMENT
    #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h2#myModalLabel.modal-title login
            |         
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') &times;
          |       
          .modal-body
            form(action='/users/login', method='POST', role='form')
              .form-group
                label(for='name') username
                |
                input(type='text', id='userName', name='userName', placeholder='')                                         
                |                                         
                label(for='password') password
                |
                input(type='password', id='password', name='password', placeholder='')
                |
          |       
          .modal-footer
            input.btn.myBtn(type='submit' name='submit' id='submit' value='submit')
            | 
            button.btn.btn-secondary.myBtn.pull-right(type='button', data-dismiss='modal') close
            |         
            a.btn.btn-primary.myBtn.pull-right(type='button' href='/users/register') register
