extends layout

block content
  .logo
    img(src='images/LogoGlasses150.png', alt='')
  // end logo
  #nav
    ul
      li
        a(href='/') HOME
        |                       
        img(src='images/home.png', alt='')
      |                   
      li
        a(href='/apps') APPS
        |                       
        img(src='images/apps.png', alt='')
      |                   
      li
        a(href='/about') ABOUT
        |                       
        img(src='images/about.png', alt='')
      |                   
      li
        a(href='/contact') CONTACT
        |                       
        img(src='images/contact.png', alt='')
      li
        a(href='/posts') BLOG
      li
        a(href='/recentprojects') PROJECTS
      li
        a(href='/users') ADMIN  
  // end nav
  #mainWindow.col-md-12
    #postWindow
      if posts
        each post, i in posts
          .posts
            .postImgHeader 
              img(src='/images/' + post.mainimage)
            p.postTitle
              a(href='/posts/show/' + post._id)
                =post.title
            p.postText 
              !=truncateText(post.body + "...",100) 
              a.myLearnMoreBtn(href='/posts/show/' + post._id) Learn More
