extends layout

block content
	.logo
		img(src='/images/LogoGlasses150.png', alt='')
	// end logo
	#nav
		ul
			li
				a(href='/apps') APPS
				|                       
				img(src='/images/apps.png', alt='')
			|                   
			li
				a(href='/services') SERVICES
				|                       
				img(src='/images/services.png', alt='')
			|                   
			li
				a(href='/about') ABOUT
				|                       
				img(src='/images/about.png', alt='')
			|                   
			li
				a(href='/contact') CONTACT
				|                       
				img(src='/images/contact.png', alt='')
			|
			li
				a(href='/posts') BLOG
			li
				a(href='/recentprojects') PROJECTS                         
	// end nav
	#mainWindow.col-md-12.single
		.singlePost
			h1.postPageTitle #{post.title}
			p.showCategory Posted in 
				a(href='/categories/show/' + post.category) #{post.category}
			p.showAuthor by 
				span.showDate #{post.author} 
				span on 
				span.showDate #{moment(post.date).format("MM-DD-YYYY")}
				.mainImgPage
					img.image-responsive(src='/images/' + post.mainimage)
			.postBodyContainer
				.postPageBody
					.divider
					!=post.body
