extends layout

block content
	.logo
		img(src='/images/LogoGlasses150.png', alt='')
	// end logo
	#nav
		ul
			li
				a(href='/apps') APPS               
			li
				a(href='/services') SERVICES                  
			li
				a(href='/about') ABOUT              
			li
				a(href='/contact') CONTACT
			li
				a(href='/posts') BLOG
			li
				a(href='/recentprojects') PROJECTS
			li
				a(href='/users') ADMIN                         
	// end nav
	#mainWindow.col-md-12.single
		.singlePost
			.mainImgPage
				img.image-responsive(src='/images/' + post.mainimage)
			h1.postPageTitle #{post.title}
			p.showCategory Posted in 
				a(href='/categories/show/' + post.category) #{post.category}
			p.showAuthor by 
				span.showDate #{post.author} 
				span on 
				span.showDate #{moment(post.date).format("MM-DD-YYYY")}
			.postBodyContainer
				.postPageBody
					.divider
					!=post.body
