body, html{
  background-color: #000;
  /*background-image: url("../images/blog/headerBannerCat.jpg");
  background-repeat: no-repeat;*/
  font-family: 'Spectral', serif;;
  font-size:1.1rem;
  line-height: 1.5rem;
}
.logo img{
  height:150px;
  display:inline-block;
  margin-top: 2px;
}
.underLogoCircle{
  height:153px;
  width: 153px;
  margin-top:2%;
  background-color: #dcdcdc;
  border-radius: 200px;
  position: fixed;
  z-index: 2;
  text-align: center;

}
h1{
  color:silver;
  font-family: 'Alfa Slab One', cursive;
}
#nav{
  position: fixed;
  z-index: 1;
  background-color: #dcdcdc;
  width:75px;
  height: 630px;
}
#nav ul{
  padding-top:200px;
  padding-left: 30%;
}
#nav li {
  list-style: none;
}
#nav li a img{
  height:30px;
  margin-top: 90%;
}
#mainWindow{
text-align: center;
padding: 0%;
}
.heading{
  color: whitesmoke;
  font-size: 3rem;
  text-transform: capitalize;
  font-family:'Alfa Slab One', cursive;
  margin-top: 3%;
  position: relative;
  bottom:300px;
}
.mainImg{
  width:100%;
  margin-bottom:3%;
}
.pictureContainer{
  width:100%;
  height:500px;
  text-align: center;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: absoulute;
  z-index: 4;
}
.postContainer{
  margin-top: 3%;
  margin-left: 4%;
  width: 75%;
  text-align: center;
  height:100%;
  padding:3%;
  color: #000;
  display: inline-block;
  background: #f2f3f4; /* Old browsers */
  background: -moz-linear-gradient(top, #dcdcdc 0%, #f2f2f2 51%, #dcdcdc 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #dcdcdc 0%, #f2f2f2 51%, #dcdcdc 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #dcdcdc 0%, #f2f2f2 51%, #dcdcdc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.postBody{
  text-align: justify;
  display: inline-block;
  /*color: #000;*/
}
.postText p{
  /* width: 80%; */
}

.postPageTitle{
  font-size: 3rem;
  color:whitesmoke;
  margin-top: 3%;
  margin-bottom: 3%;
  text-transform: capitalize;
  display: inline-block;
}
.postDate, .postAuthor, .placeAboutText, .placeAboutTitle{
  color:whitesmoke;
}

.placeAboutContainer{
  /*position: relative;*/

  height:100%;
  width:75%;
  display: inline-block;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.placeAboutTitle{
  font-family:'Roboto Slab', serif;
  font-size: 2.5rem;
  border-bottom: 4px solid #fff;
  margin-bottom: 40px;
  margin-top: 40px;
  padding-bottom: 40px;
}
.postAuthor{
  width:150px;
  position: relative;
  left:215px;
  top:40px;
  margin:0;
}
.postDate{
  position: relative;
  left:550px;
  font-size: .9rem;
}
.postCategory{
  width:350px;
  color:whitesmoke;
  position: relative;
  top:40px;
  left:160px;
}
.authorSub{
  /*position: relative;
  left:200px;*/
  float: right;
  margin-left: -150px;
  font-size: .7rem;
  text-transform: uppercase;
  font-family: 'Spectral SC', cursive;
}
.postTitle {
  display: inline-block;
}
.myReadMoreBtn{
  padding:5px;
  font-family: 'Spectral SC', cursive;
  font-size: .8rem;
  color:gray;
  border: 1px solid gray;
  clear:both;
  float: right;
  margin-right: 250px;
  margin-left: -250px;
  /*margin-top: 20px;*/
  margin-bottom: -20px

}

.postTitle a{
  color:#3d3d3d;
  font-size: 1.6rem;
  margin-top: -20px;
}

label{
  color:silver;
}
.comment-form{
  width: 75%;
  display: inline-block;
  background-color: #f2f3f4;
}
.aboutWindow{
color: whitesmoke;
display: inline-block;
}
.row{
  margin-left:0px;
  argin-right:0px;
}
