html,body{
  font-family: "Open Sans",sans-serif;
}
.displayBox{

  height: 600px;
  width:290px;
  border:0.5px solid #f1c37e;
  margin:10px;
  overflow:hidden;
  background-color: whitesmoke;
  border-radius: 3px;
}
.displayBoxSmall{
  margin-left: 7%;
  margin-bottom: 20px;
  /* height:290px; */
  padding-top: 15px;
  width:305px;
  border:1px solid #F1c37e;
  background-color: rgba(0,0,0,0.1);
  border-radius:3px;
  text-align: center;
  padding-bottom: 20px;
}

.displayBoxHeader{
  border-bottom:#f1c37e;
}
#mainWindow{
  padding:20px;
  text-align:center;
}
.recentProjectContainer{
  display: inline-block;
}
.recentProjectContainer h2{
  margin-bottom:40px;
}
.displayBoxInfo{
  padding-top:80px;
}
.displayBoxInfo p{
margin-top: 20px;
text-align: justify;
}
.divider{
  /* height: 4px; */
  /* background-color: #F1c37e; */
  margin-top:0px;
}

.displayBoxSmall img{
  height:280px;
}
.projectTitle{
  color:#fff;
  font-family: "Alfa Slab One", sans-serif;
  margin-top:20px;
  margin-bottom:20px;
  font-size:2rem;
}
.projectDescription{
  width:200px;
  margin: auto;
  display: inline-block;
  text-align: justify;
}
.projectImg img{
  /* height:1000px; */
  width:600px;
}


.projectWindow{
  padding-left: 200px;
}
.projectShowTitle{
  color:#fff;
  font-family: "Alfa Slab One", sans-serif;
  margin-top:20px;
  font-size:3rem;
}
p.projectShowCategory{
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  width: 300px;
  font-size: 1.9rem;
}
.projectShowCategory a{
  color:#fff;
}
.projectShowAuthor{
  position: relative;
  top:200px;
  width:300px;
  font-family: "Open Sans Condensed", sans-serif;
}
.projectShowAuthor span{
  color: #fff;
}
.projectShowDate{
  color:#FFF;
}
.showColumnRight{
  padding-top: 40px;
}
.projectLearnMoreBtn{
  border: 1px solid #F1c37e;
  border-radius: 3px;
  padding:2%;
  color: whitesmoke;
  float: right;
  margin-top: 10px;
}


@media (min-width:320px) and (max-width:767px) {
  body{
    background-image: url("../images/bgHomePortrait@0.5x.png");
    background-repeat: no-repeat;

}
.projectLearnMoreBtn{

}
.divider{

}
.projectDescription{

}
.displayBoxSmall{
  height:560px;
  margin-left:2%;
  display: inline-block;
}
.projectWindow{
  padding:0;
  text-align: center;
}
.projectImg img{
  width:90vw;
}
}
@media (min-width:768px) and (max-width:991px) {

}
