html,body{
  font-family: "Open Sans",sans-serif;
}
.displayBox{
  height: 600px;
  width:290px;
  border:0.5px solid #f1c37e;
  margin:10px;
  overflow:hidden;
  background-color: whitesmoke;
  border-radius: 3px;
}
.displayBoxSmall{
  margin-left:100px;
  margin-bottom: 20px;
  /* height:290px; */
  padding-top: 15px;

  width:24%;
  border:1px solid #F1c37e;
  background-color: rgba(0,0,0,0.1);
  border-radius:3px;
  text-align: center;
  padding-bottom: 20px;
}

.displayBoxHeader{
  border-bottom:#f1c37e;
}
#mainWindow{
  padding:20px;
}
.recentProjectContainer{
  display: inline-block;
}
.recentProjectContainer h2{
  margin-bottom:40px;
}
.displayBoxInfo{
  padding-top:80px;
}
.displayBoxInfo p{
margin-top: 20px;
text-align: justify;
}
.divider{
  /* height: 4px; */
  /* background-color: #F1c37e; */
  margin-top:0px;
}

.displayBoxSmall img{
  height:280px;
}
.projectTitle{
  color:#fff;
  font-family: "Alfa Slab One", sans-serif;
  margin-top:20px;
  margin-bottom:20px;
  font-size:2rem;
}
.projectDescription{
  width:200px;
  margin: auto;
  display: inline-block;

  text-align: justify;
}
.projectImg img{
  height:1000px;
}
.projectTitle{

}
.showCategory{
}
.projectWindow{
  padding-left: 200px;
}
.projectShowTitle{
  color:#fff;
  font-family: "Alfa Slab One", sans-serif;
  margin-top:20px;
  font-size:3rem;
}
p.projectShowCategory{
  font-family: "Open Sans Condensed", sans-serif;
  margin: 0;
  width: 300px;
  font-size: 1.9rem;
}
.projectShowCategory a{
  color:#fff;
}
.projectShowAuthor{
  position: relative;
  top:200px;
  width:300px;
  font-family: "Open Sans Condensed", sans-serif;
}
.projectShowAuthor span{
  color: :#fff;
}
.projectShowDate{
  color:#FFF;
}
.showColumnRight{
  padding-top: 40px;
}
